<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gary's beard</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->

    <link href="/content/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/content/js/bellow.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/content/js/socketService.js"></script>
  </head>

  <body>

    <div class="container">

        <h3 id="jumboTurn" class="text-center">
            {% if player_turn %}
                Your Turn
            {% else %}
                Their turn
            {% end %}
        </h3>
	<h3 id="winner-msg" class="text-center" style="display:None">
	    Yay, you won! <code>:)</code>
	</h3>
	<h3 id="loser-msg" class="text-center" style="display:None">
	    Boo, you lost! <code>:(</code>
	</h3>

          <h3 class="text-center"><strong id="score-label">Scores:</strong>
          You: <strong id="my-score">0</strong> /
          Opponent: <strong id="opponent-score">0</strong>
        </h3>


<div class="row card">
<div class="col-lg-4 filler">
</div>
        <div class="col-lg-4 card-top">

        <div id="screenshot" style="background-image: url({{card['screenshot']}});">
            <div class="screenshot-container" >
                <img src="{{card['image']}}" alt="{{card['name']}}"
                style="width:304px;height:228px;" id="monster-image">
            </div>

        </div>
        </div>
</div>
<div class="row card">
<div class="col-lg-4 filler">
</div>
<div class="col-lg-4 card-bottom">
        <h2 id="card-name" class="text">
            {{card['name']}}
        </h2>
            <h5><span id="site-name">  <a href="http://{{card['site']}}/" target="_blank">  {{card['site']}} </a>   </span></h5>
            {% if player_turn %}
              {% for i, attribute in enumerate(card['attributes']) %}

              <h4 class="card_attr{%if not i % 2%} row-even{%end%}" id="{{ attribute['name'] }}"><a href="#">{{ attribute['name'] }}: {{ attribute['value'] }}</a></h4>
              {% end %}
            {% else %}
              {% for i, attribute in enumerate(card['attributes']) %}
              <h4 class="card_attr{%if not i % 2%} row-even{%end%}" id="{{ attribute['name'] }}"> {{ attribute['name'] }}: {{ attribute['value'] }}</h4>
              {% end %}
            {% end %}
       </div>
</div>



    <div id="output"></div>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
